<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error Page</title>
  </head>
  <body>
    <h2>No Such Page Exists</h2>
    <!-- include tag is used to include sub templates or partials into our template. all these files are kept in separate folder called "includes" -->
  </body>
</html>
