<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>First Ejs File</title>
  </head>
  <body>
    <h1>File From EJS 1+2</h1>
    <h3><%= 1+2 %></h3>
    <h3><%= "Mahammed Anish".toUpperCase() %></h3>
    <h3><%= [10,20,30,40,50][2] %></h3>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus,
      cupiditate.
    </p>
    <button>Click Me</button>
  </body>
</html>
